@CHARSET "ISO-8859-1"; 

 @charset "utf-8";

html {
	height: 100%;
}

body {
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 13px;
	background-attachment: fixed;
	margin: 0;
	color: #000;
	height: 87%;
}

h2 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	color: #000;
	padding-top: -10px;
	padding-bottom: -10px;
}

.content {
	padding: 15px 15px 15px 15px;
}

.wrapper {
	padding-top: 40px;
	width: 95%;
	height: 97%;
	background: #FFF;
	margin: 0 auto;
	overflow: auto;
}

.wrapper2 {
	width: 25%;
	margin: 0 auto;
	padding: 75px;
	border: 1px #333;
}

.wrapper3 {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
	border: 1px #333;
	overflow: hidden;
}

}
@media screen {
	body>div#header {
		position: fixed;
	}
}

* html body {
	overflow: hidden;
}

* html div#content {
	height: 100%;
	overflow: auto;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	colour
}

.nav li {
	padding: 10px 15px 10px 40px;
	display: inline;
}

ul.nav a,ul.nav a:visited {
	text-decoration: none;
	font-size: 13px;
	color: #FFFFFF;
}

.footer {
	padding: x 0;
	width: 100%;
	position: relative;
	margin: auto;
	height: 20px;
	clear: both;
}

.footer p {
	font-size: 11px;
	color: #000;
	text-align: center;
}

.wrapper4 {
	width: 40%;
	position: fixed;
	display: inline;
	float: left;
	text-align: left;
	padding: 15px;
	border: 1px #333;
	overflow: hidden;
}

.wrapper5 {
	width: 55%;
	display: inline;
	float: right;
	text-align: left;
	border: 1px #333;
	overflow: hidden;
}

.wrapper6 {
	width: 70%;
	margin: auto;
	padding: 10px;
	overflow: hidden;
}

#search {
	right: 50px;
	top: 85%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 5000;
}
/* TABLE CSS*/
table.tftable {
	font-size: 12px;
	color: #333333;
	width: 100%;
	border-width: 1px;
	border-color: #729ea5;
	border-collapse: collapse;
}

table.tftable th {
	font-size: 12px;
	background-color: #acc8cc;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #729ea5;
	text-align: left;
}

table.tftable tr {
	background-color: #d4e3e5;
}

table.tftable td {
	font-size: 12px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #729ea5;
}

table.options {
	font-family:"Trebuchet MS", sans-serif;
	font-size:13px;
	border: none;
	padding: 2px;
	border-collapse: collapse;
	width:90%;
	column-width: 50%;
}
table.options th {
	border-width: 1px;
	padding: 2px;
}

table.options tr.alt td{
	border-width: 1px;
		padding: 2px;
}


table.options td {
	border-width: 1px;
	padding: 2px;
}
/*CHECK BOXES*/

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:#000;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../images/check_radio_sheet.png) -57px top no-repeat;
}
/*NAVIGATION BAR CODES/

/* common and top level styles */
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;

}
#nav {
    background-color: #6D84B4;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 98%;
    z-index: 5000;
    
}
#nav ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    /*position from top*/
    top: 36px;
    width: 96%;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
    
}
#nav > li > a {
        color: #FFFFFF;
    display: block;
    font-size: 1em;
    line-height: 36px;
    padding: 0 15px;
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
#nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}

/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
}
#nav ul.subs > li a {
    color: #777777;
    line-height: 20px;
}
#nav ul li a:hover {
    color: #91b8b3;
}
#nav ul.subs > li > a {
    font-size: 1em;
    margin-bottom: 10px;
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}

/* responsive rules */
@media all and (max-width : 980px) {
    #nav > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs,
    #nav li #s3:target + ul.subs,
    #nav li #s4:target + ul.subs,
    #nav li #s5:target + ul.subs,
    #nav li #s6:target + ul.subs {
        display: block;
    }

    #nav ul.subs > li {
        display: block;
        width: auto;
    }
}

/*LOGIN BAR CODES*/
#login span {
    display: none;
}
#login, #login ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#login {
    background-color: #FFFFFF;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 98%;
    z-index: 7000;
}
#login ul.subs {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #333333;
    display: none;
    left: 0;
    padding: 2%;
    position: absolute;
    /*position from top*/
    top: 36px;
    width: 96%;
}
#login > li {
    border-bottom: 5px solid transparent;
    float: right;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
    white-space: normal;
    line-height: 36px;
}
#login li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#login > li > a {
    color: #333333;
    display: block;
    font-size: 1em;
    line-height: 36px;
    padding: 0 15px;
}
#login > li:hover > a, #login > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
#login li.active > a {
    background-color: #333333;
    color: #FFFFFF;
}

/* submenu */
#login li:hover ul.subs {
    display: block;
}
#login ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 33%;
}
#login ul.subs > li a {
    color: #777777;
    line-height: 20px;
}
#login ul li a:hover {
    color: #91b8b3;
}
#login ul.subs > li > a {
    font-size: 1em;
    margin-bottom: 10px;
}
#login ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#login ul.subs > li li:hover {
    padding-left: 15px;
}

/* responsive rules */
@media all and (max-width : 980px) {
    #login > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #login ul.subs {
        position: relative;
        top: 0;
    }
    #login li:hover ul.subs {
        display: none;
    }
    #login li #s1:target + ul.subs,
    #login li #s2:target + ul.subs,
    #login li #s3:target + ul.subs,
    #login li #s4:target + ul.subs,
    #login li #s7:target + ul.subs {
        display: block;
    }

    #login ul.subs > li {
        display: block;
        width: auto;
    }
}

#login li.floatLeft {
	float: left;
	padding-left:0.3cm;
}


/*buttons*/
.buttonA {
	
	background-color: #768d87;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #566963;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 3px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}

.buttonA:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c
		), color-stop(1, #768d87));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c',
		endColorstr='#768d87', GradientType=0);
	background-color: #6c7c7c;
}

.buttonA:active {
	position: relative;
	top: 1px;
}