@CHARSET "ISO-8859-1"; 

 @charset "utf-8";

html {
	height: 100%;
}

body {
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 13px;
	background-attachment: fixed;
	margin: 0;
	color: #000;
	height: 87%;
}

h2 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	color: #000;
	padding-top: -10px;
	padding-bottom: -10px;
}

.content {
	padding: 15px 15px 15px 15px;
}

.wrapper {
	padding-top: 40px;
	width: 95%;
	height: 97%;
	background: #FFF;
	margin: 0 auto;
	overflow: auto;
}

.wrapper2 {
	width: 25%;
	margin: 0 auto;
	padding: 15px;
	border: 1px #333;
}

.wrapper3 {
	width: 70%;
	margin: 0 auto;
	text-align: left;
	padding: 10px;
	border: 1px #333;
	overflow: hidden;
}

}
@media screen {
	body>div#header {
		position: fixed;
	}
}

* html body {
	overflow: hidden;
}

* html div#content {
	height: 100%;
	overflow: auto;
}

ul.nav {
	list-style-type: none;
	margin: 0;
	padding: 10px 10px 10px 10px;
	text-align: center;
	colour
}

.nav li {
	padding: 10px 15px 10px 40px;
	display: inline;
}

ul.nav a,ul.nav a:visited {
	text-decoration: none;
	font-size: 13px;
	color: #FFFFFF;
}

.footer {
	padding: x 0;
	width: 100%;
	position: relative;
	margin: auto;
	height: 20px;
	clear: both;
}

.footer p {
	font-size: 11px;
	color: #000;
	text-align: center;
}

table.a {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	padding: 8px;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width: 100%;
}

table.a th {
	background: #3399CC;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.a tr.alt td {
	background: #b5cfd2;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.a td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.b {
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	color: #333333;
	padding: 8px;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width: 640px;
	table-layout: fixed;
}

table.b th {
	background: #3399CC;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.b tr.alt td {
	background: #b5cfd2;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.b td {
	background: #dcddc0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.c {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 8px;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width: 500px;
}

table.c th {
	background: #3399CC;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.facility tr.sub td {
	background: #89C0DC;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.c tr.alt td {
	background: #CEE4EF;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.c td {
	background: #FFFFFF;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.d {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 13px;
	border: none;
	padding: 2px;
	border-collapse: collapse;
	width: 90%;
	column-width: 50%;
}

table.d th {
	border-width: 1px;
	padding: 2px;
}

table.d tr.alt td {
	border-width: 1px;
	padding: 2px;
}

table.d td {
	border-width: 1px;
	padding: 2px;
}

table.e {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	color: #333333;
	padding: 8px;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	width: 100%;
}

table.e th {
	background: #3399CC;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.e tr.sub td {
	background: #89C0DC;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.e tr.alt td {
	background: #CEE4EF;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.e td.av {
	background: #B7DD8B;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.e td.unav {
	background: #E67696;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}

table.e td.filt {
	background: #FFFF00;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}

table.e td.nil {
	background: #FFFFFF;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}

table.e td {
	background: #FFFFFF;
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #999999;
}

table.f {
	font-family: verdana, arial, sans-serif;
	font-size: 13px;
	padding: 2px;
	border-collapse: collapse;
	width: 100%;
}

table.f td {
	padding: 2px;
}

.wrapper4 {
	width: 40%;
	position: fixed;
	display: inline;
	float: left;
	text-align: left;
	padding: 15px;
	border: 1px #333;
	overflow: hidden;
}

.wrapper5 {
	width: 55%;
	display: inline;
	float: right;
	text-align: left;
	border: 1px #333;
	overflow: hidden;
}

.wrapper6 {
	width: 70%;
	margin: auto;
	padding: 10px;
	overflow: hidden;
}

#search {
	right: 50px;
	top: 85%;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 5000;
}

#fbtab a {
	display: block;
	width: 100%;
	height: 100%;
}

.menuH {
	/* You will get totally diffrent menu alignment and layout by setting following margin, width, and float with different values.
    For detailed instruction please visit www.menucool.com/horizontal/change-menu-alignment  */
	margin: 0;
	width: 100%;
	float: none;
	/*following "behavior" works for IE6, IE7, and IE8. Other browsers will ignore it.*/
	/*Note: Unlike image file, htc file path is relative to the page, not this CSS file.*/
	behavior: url("/horizontal/menuh/cssmenu.htc");
	height: 36px;
	border: 1px solid #BBB;
	position: relative; /*! for IE htc*/
	z-index: 4; /*H2*/
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0;
	background: rgb(63, 76, 107); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(63, 76, 107, 1) 0%,
		rgba(63, 76, 107, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(63,
		76, 107, 1)), color-stop(100%, rgba(63, 76, 107, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(63, 76, 107, 1) 0%,
		rgba(63, 76, 107, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(63, 76, 107, 1) 0%,
		rgba(63, 76, 107, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(63, 76, 107, 1) 0%,
		rgba(63, 76, 107, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(63, 76, 107, 1) 0%,
		rgba(63, 76, 107, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#3f4c6b',
		endColorstr='#3f4c6b', GradientType=0); /* IE6-9 */
}

.menuH li {
	padding: 0;
	/*margin: 0;
    display: block; TODO: I am testing them if they can be removed. If can, remove them.*/
	float: left;
	height: 36px;
	position: relative;
	/*move it into .menuH if you want submenu to be positioned relative to the whole menu instead of this li element*/
}

.menuH li:hover,.menuH li.onhover {
	background-color: #6D84B4;
	colour: #FFFFFF;
}

ul.menuH a {
	padding: 0 15px;
	line-height: 36px;
	/*Note: keep this value the same as the height of .menuH and .menuH li */
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	outline: 0;
	text-decoration: none;
}

.menuH a:hover {
	color: #FFFFFF;
}

.menuH a.arrow {
	background: url(arrow.gif) no-repeat right center;
}

.menuH ul a.arrow {
	background: url(right.gif) no-repeat 97% center;
}

/*Used to align a top-level item to the right*/
.menuH .menuRight {
	float: right;
	margin-right: 0px;
}

/*for the top-level separators*/
.menuH li.separator {
	font-size: 0;
	overflow: hidden;
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #BBBBBB;
}

/*######sub level###########*/
ul.menuH ul {
	width: 200px;
	position: absolute;
	left: -9999px;
	border: 1px solid #DDD;
	border-top: 0;
	background: #FFF;
	text-align: left;
	list-style: none;
	margin: 0;
	/*Following 1px(padding-right) will determine how much it is overlapped by the sub-sub-menu */
	padding: 0 1px 10px 0;
}

.menuH li li {
	float: none;
	white-space: nowrap;
	height: 26px;
}

.menuH li li:hover,.menuH li li.onhover {
	background-color: #6D84B4;
}

.menuH ul a {
	padding: 0 10px;
	line-height: 26px;
	font-size: 0.9em;
	font-weight: normal;
	color: #000000;
	text-align: left;
}

.menuH ul a:hover {
	color: #FFFFFF;
}

.menuH li:hover ul,.menuH li.onhover ul {
	left: -1px; /*Use this property to change offset of the dropdown*/
	top: auto;
}

.menuH li:hover .dropToLeft,.menuH li.onhover .dropToLeft {
	left: auto;
	right: -1px;
	top: auto;
}

.menuH ul ul {
	border-top: 1px solid #DDD;
}

.menuH li:hover ul ul,.menuH li:hover ul ul ul,.menuH li:hover ul ul ul ul,.menuH li.onhover ul ul,.menuH li.onhover ul ul ul,.menuH li.onhover ul ul ul ul
	{
	left: -9999px;
	top: 0;
}

.menuH li li:hover ul,.menuH li li li:hover ul,.menuH li li li li:hover ul,.menuH li li.onhover ul,.menuH li li li.onhover ul,.menuH li li li li.onhover ul
	{
	left: 200px;
}

/*####### special effects ##########*/
.decor1 {
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari and Chrome */
	border-radius: 3px;
	/* Opera 10.5+, future browsers, and now also our behavior htc file */
	-moz-box-shadow: 0px 1px 4px #eee; /* Firefox */
	-webkit-box-shadow: 0px 1px 4px #eee; /* Safari and Chrome */
	box-shadow: 0px 1px 4px #eee;
	/* Opera 10.5+, future browsers and IE6+ using our behavior htc file */
}

.decor2 {
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari and Chrome */
	border-radius: 3px;
	/* Opera 10.5+, future browsers, and now also our behavior htc file */
	-moz-box-shadow: 0px 1px 4px #eee; /* Firefox */
	-webkit-box-shadow: 0px 1px 4px #eee; /* Safari and Chrome */
	box-shadow: 0px 1px 4px #eee;
	/* Opera 10.5+, future browsers and IE6+ using our behavior htc file */
}

.menuH ul {
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	-moz-box-shadow: 0px 6px 6px #CCC;
	-webkit-box-shadow: 0px 6px 6px #CCC;
	box-shadow: 0px 6px 6px #CCC;
	/* Gradient background */
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
		to(#EEEEEE));
}

.menuJ ul {
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
	-moz-box-shadow: 0px 6px 6px #CCC;
	-webkit-box-shadow: 0px 6px 6px #CCC;
	box-shadow: 0px 6px 6px #CCC;
	/* Gradient background */
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF),
		to(#EEEEEE));
}

.menuJ {
	/* You will get totally diffrent menu alignment and layout by setting following margin, width, and float with different values.
    For detailed instruction please visit www.menucool.com/horizontal/change-menu-alignment  */
	float: none;
	margin: 0;
	width: 100%;
	/*following "behavior" works for IE6, IE7, and IE8. Other browsers will ignore it.*/
	/*Note: Unlike image file, htc file path is relative to the page, not this CSS file.*/
	behavior: url("/horizontal/menuh/cssmenu.htc");
	height: 36px;
	position: relative; /*! for IE htc*/
	z-index: 6; /*H2*/
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	padding: 0;
	background: #FFFFFF;
}

.menuJ li.floatRight {
	float: right;
}

.menuJ li {
	padding: 0;
	/*margin: 0;
    display: block; TODO: I am testing them if they can be removed. If can, remove them.*/
	float: left;
	height: 36px;
	position: relative;
	/*move it into .menuJ if you want submenu to be positioned relative to the whole menu instead of this li element*/
}

.menuJ li:hover,.menuJ li.onhover {
	background-color: #6D84B4;
	colour: #FFFFFF;
}

ul.menuJ a {
	padding: 0 15px;
	line-height: 36px;
	/*Note: keep this value the same as the height of .menuJ and .menuJ li */
	font-size: 12px;
	color: #000000;
	display: block;
	outline: 0;
	text-decoration: none;
}

.menuJ a:hover {
	color: #FFFFFF;
}

.menuJ a.arrow {
	background: url(arrow.gif) no-repeat right center;
}

.menuJ ul a.arrow {
	background: url(right.gif) no-repeat 97% center;
}

/*for the top-level separators*/
.menuJ li.separator {
	font-size: 0;
	overflow: hidden;
	border-left: 1px solid #F7F7F7;
	border-right: 1px solid #BBBBBB;
}

/*######sub level###########*/
ul.menuJ ul {
	width: 200px;
	position: absolute;
	left: -9999px;
	border: 1px solid #DDD;
	border-top: 0;
	background: #FFF;
	text-align: left;
	list-style: none;
	margin: 0;
	/*Following 1px(padding-right) will determine how much it is overlapped by the sub-sub-menu */
	padding: 0 1px 10px 0;
}

.menuJ li li {
	float: none;
	white-space: nowrap;
	height: 26px;
}

.menuJ li li:hover,.menuJ li li.onhover {
	background-color: #6D84B4;
}

.menuJ ul a {
	padding: 0 10px;
	line-height: 26px;
	font-size: 0.9em;
	font-weight: normal;
	color: #000000;
	text-align: left;
}

.menuJ ul a:hover {
	color: #FFFFFF;
}

.menuJ li:hover ul,.menuJ li.onhover ul {
	left: -1px; /*Use this property to change offset of the dropdown*/
	top: auto;
}

.menuJ li:hover .dropToLeft,.menuJ li.onhover .dropToLeft {
	left: auto;
	right: -1px;
	top: auto;
}

.menuJ ul ul {
	border-top: 1px solid #DDD;
}

.menuJ li:hover ul ul,.menuJ li:hover ul ul ul,.menuJ li:hover ul ul ul ul,.menuJ li.onhover ul ul,.menuJ li.onhover ul ul ul,.menuJ li.onhover ul ul ul ul
	{
	left: -9999px;
	top: 0;
}

.menuJ li li:hover ul,.menuJ li li li:hover ul,.menuJ li li li li:hover ul,.menuJ li li.onhover ul,.menuJ li li li.onhover ul,.menuJ li li li li.onhover ul
	{
	left: 200px;
}

/*buttons*/
.buttonA {
	-moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
	box-shadow: inset 0px 1px 3px 0px #91b8b3;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87
		), color-stop(1, #6c7c7c));
	background: -moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background: -webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background: -o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background: -ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87',
		endColorstr='#6c7c7c', GradientType=0);
	background-color: #768d87;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #566963;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 3px;
	text-decoration: none;
	text-shadow: 0px -1px 0px #2b665e;
}

.buttonA:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c
		), color-stop(1, #768d87));
	background: -moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: -webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: -o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: -ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c',
		endColorstr='#768d87', GradientType=0);
	background-color: #6c7c7c;
}

.buttonA:active {
	position: relative;
	top: 1px;
}